*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
table{
    text-align: center;
    font-size: 14px;
}
#opciones{
    width: 200px;
}
th,td {
    padding: 8px; /* Ajusta el padding según sea necesario */
    vertical-align: middle; /* Centra verticalmente el contenido */
}

/* Estilo adicional para los botones en las celdas */
.tabla-centrada .btn {
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}